*{
    padding: 0;
    margin: 0;
}
:root{
    --main-bg: "snow";
    --text: #222;
    --primary: #0a84bc;
}
body{
    background-color: var(--main-bg);
    color: var(--text);
}
a.active{
    color: var(--primary);
}
main#main{
    padding: 0 1rem;
    nav{
        margin-bottom: 1rem;
    }
}